<!DOCTYPE html>
{#  Flask-passed parameters:  branding
#}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log into your Brain Annex account</title>
    <link rel="stylesheet" href="/assets/login/login.css">
</head>
<body>

<form method="post" action="/do-login">
    <h1>{{branding}}</h1>

    <div class="inset">
        <p>
            <label for="username">USERNAME</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="passwd">PASSWORD</label>
            <input type="password" name="passwd" id="passwd">
        </p>
    </div>

    <p class="p-container">
        <input type="submit" name="go" id="go" value="Log in">
    </p>
</form>

</body>
</html>