img.clickable-icon  {   /* To display the clickable cursor on images */
    cursor: pointer;
}

img.control {
    margin-left: 10px;
    cursor: pointer;
}



/* To display the index of the Content Items */
span.index {
    color: #BBB;
    margin-left: 5px;
}