/* LEFT SIDEBAR (used to host the Table of Contents)
 */



div.sidebar-toc-left {          /* Common parts to the "expanded" and "collapsed" states */
    position:fixed;
    top:20px;
    left:0;

	border-right:1px solid #d5d2d0;
	background:#f5f2f0;                 /* Best if it matches that of page body */
}


div.sidebar-left-expanded {     /* LEFT sidebar, in its EXPANDED state */
	box-sizing: border-box;             /* The assigned width will now incorporate padding and border */

	width:15%;

	border-bottom:1px solid #0084AD;    /* Light blue */
	padding-left:3px;

	overflow:auto;
	max-height:100%;

	font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #333;
}


div.sidebar-left-collapsed {    /* LEFT sidebar, in its COLLAPSED state */
	width:3%;
	padding-left:0px;
	padding-right:0px;
	padding-top:5px;
}


/*
 *  Table of Contents (TOC) for the page (hosted inside sidebar-left-expanded)
 */


div.page-toc  p  {     /* For all paragraphs inside DIV's of class "page-toc" (Table of Contents) */
    font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size:11px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}


p.toc-header {          /* The top part of the TOC, to always keep at the very top (un-scrollable) */
    position: sticky;
    top: 0;
    background: white;

    margin-top: 0;
    margin-bottom: 3px;
}


div.page-toc  p.header  {   /* Used for section headers in the TOC */
    font-size:14px;
    font-weight:bold;
}



/*
    Hyperlink styles for the "page-toc" DIV  [TODO: is this needed, given link style for div.sidebar-left ?]
 */




/* Hyperlink styles for the page-toc */

p.toc-header  a:link  {
	color: #547698;					/* A shade of blue */
	text-decoration:none;
}

p.toc-header  a:visited  {
	color: #547698;					/* A shade of blue */
	text-decoration:none;
}

p.toc-header  a:hover {
	color:red;
	text-decoration:none;
}

p.toc-header  a:active {
	color:red;
	text-decoration:none;
}


/* Hyperlink styles for the page-toc */

div.page-toc  a:link  {
	color:#222;					/* Dark gray */
	text-decoration:none;
}

div.page-toc  a:visited  {
	color:#222;
	text-decoration:none;
}

div.page-toc  a:hover {
	color:red;
	text-decoration:none;
}

div.page-toc  a:active {
	color:red;
	text-decoration:none;
}