{#  Flask-passed parameters:  site_pages, current_page

    Top Navigation bar

    The entries from which to populate the navbar are defined in navigation.py

    HOW TO USE: site pages that want to include this Top Navbar need to have the line
                {% include "navbar_top.htm" %}
                and also have the Flask-passed parameters:  site_pages, current_page
 #}


<!-- Start of navigation bar: wrapper DIV -->
<div class='navmenu dark-background'>

<!-- The Selection row -->
<table class='navmenu-table'>
    <tr class='major-line'>

    {# Loop over the listing of pages to show in the navbar #}
    {% for url in site_pages %}
        {% if url == current_page %}
        <td align='center' class='selected'>
            {{site_pages[url].upper()}}
        {% else %}
        <td align='center' class='unselected'>
            <a href="{{url}}">{{site_pages[url]}}</a>
        {% endif %}
        </td>
    {% endfor %}

    </tr>
</table>    <!-- END table class='navmenu-table' -->

</div>      <!-- END class='navmenu dark-background' -->
<!-- End of navigation bar -->