<!DOCTYPE html>
{#  Flask-passed parameters:  current_page, site_pages
 #}

<html lang="en">
<head>
    <title>Admin</title>

    <link type="text/css" rel="stylesheet" href="/BA/pages/static/css/brain_annex.css">

    <link type="text/css" rel="stylesheet" href="/navigation/static/horiz_status_bar.css">
    <link type="text/css" rel="stylesheet" href="/navigation/static/navbar_top.css">

    <link type="text/css" rel="stylesheet" href="/BA/pages/static/css/admin.css">
</head>

<body>

{# HORIZONTAL STATUS BAR (fixed at the top) #}
{% include "horiz_status_bar.htm" %}

<div class="menu-wrapper">
    {# TOP NAVIGATION BAR #}
    {% include "navbar_top.htm" %}
</div>


<h2 class="title">Admin Functions</h2>


<br><br>
<div class="content-block">
    <p style="padding:25px">
    <a href="/BA/api/download_dbase_json/full">EXPORT Full Database as JSON file</a>
    </p>
</div>


<br><br><br>
<div class="content-block">
<form enctype="multipart/form-data" action="/BA/api/import_json_file" method="POST">
    <p>IMPORT from JSON <span style="color:gray">(containing Neo4j export format)</span> : <input type="file" name="imported_json"></p>
    <p><input type="submit" value="Import JSON"></p>
    <input type="hidden" name="return_url" value="/BA/pages/admin">
</form>
</div>


<br><br><br>
<div class="content-block">
<form enctype="multipart/form-data" action="/BA/api/parse_datafile" method="POST">
    <p><b>EXPERIMENTAL!</b></p>
    <p>IMPORT data file to parse : <input type="file" name="imported_datafile"></p>
    <p><input type="submit" value="Import data file"></p>
    <input type="hidden" name="return_url" value="/BA/pages/admin">
</form>
</div>


<br><br><br>
<div class="content-block">
    <p><a href="/BA/pages/schema-manager">SCHEMA MANAGER</a></p>
</div>



</body>
</html>