<!DOCTYPE html>
{#  Flask-passed parameters: current_page, site_pages
 #}

<html lang="en">
<head>
    <title>Experimental pages</title>

    <link type="text/css" rel="stylesheet" href="/BA/pages/static/css/brain_annex.css">

    <link type="text/css" rel="stylesheet" href="/navigation/static/horiz_status_bar.css">
    <link type="text/css" rel="stylesheet" href="/navigation/static/navbar_top.css">
</head>

<body>

{# HORIZONTAL STATUS BAR (fixed at the top) #}
{% include "horiz_status_bar.htm" %}

<div class="menu-wrapper">
    {# TOP NAVIGATION BAR #}
    {% include "navbar_top.htm" %}
</div>


<h2>Experimental pages</h2>

<br>
<p>
    <a href="/BA/pages/node">Node Explorer</a>
</p>

<p>
    <a href="/BA/pages/nodes_viewer">Nodes Viewer</a>
</p>

<p>
    <a href="/BA/pages/manage_labels">Manage the Labels</a>
</p>

<p>
    <a href="/BA/pages/table_tests">Table tests</a>
</p>

</body>
</html>