<!DOCTYPE html>
{#  Flask-passed parameters:  label_list, current_page, site_pages
 #}

<html lang="en">
<head>
    <title>List of node labels in Neo4j database</title>
    <link type="text/css" rel="stylesheet" href="/navigation/static/navbar_top.css">
    <link type="text/css" rel="stylesheet" href="/BA/pages/static/css/manage_node_labels.css">

    <script src="/BA/pages/static/Vue2/vue2.js"></script>   <!-- Vue.js (version 2) -->
    <script src="/BA/api/static/server_communication.js"></script>
</head>

<body>

{# Top Navigation bar #}
{% include "navbar_top.htm" %}


<div class="header">
<h2 class="title">Manage Node Labels</h2>
</div>

<br>



<div id="vue-root-1">   <!-- Container for Vue components -->

    <!-- A 1st Vue component -->
    {#  Pass a Flask parameter as an argument to the following Vue component #}
    <vue-show-node-labels v-bind:my_labels="{{label_list}}">
    </vue-show-node-labels>

    <br><br>

    <!-- A 2nd Vue component -->
    <vue-add-new-record>
    </vue-add-new-record>

    <br><br>

    <!-- A 3rd Vue component -->
    {#  Pass a Flask parameter as an argument to the following Vue component #}
    <vue-pulldown-menu v-bind:labels_from_flask="{{label_list}}">
    </vue-pulldown-menu>

</div>         <!-- End of Vue container "vue-root-1" -->


<!-- Vue-related code (and other JS).  This must appear AFTER the Vue-containing elements -->
<script src="/BA/pages/static/js/manage_node_labels.js"></script>


</body>
</html>