<!DOCTYPE html>
{#  Flask-passed parameters:
        current_page, site_pages,
        class_list
 #}

<html lang="en">
<head>
    <title>Schema Manager</title>

    <link type="text/css" rel="stylesheet" href="/BA/pages/static/css/brain_annex.css">

    <link type="text/css" rel="stylesheet" href="/navigation/static/horiz_status_bar.css">
    <link type="text/css" rel="stylesheet" href="/navigation/static/navbar_top.css">

    <link type="text/css" rel="stylesheet" href="/BA/pages/static/css/control_panels.css">

    <link type="text/css" rel="stylesheet" href="/BA/pages/static/vue_components/schema_creator/schema_creator.css">
    <link type="text/css" rel="stylesheet" href="/BA/pages/static/vue_components/schema_editor/schema_editor.css">

    <!-- JavaScript -->
    <script src="/BA/pages/static/Vue2/vue2.js"></script>   <!-- Vue.js (version 2) -->
    <script src="/BA/api/static/server_communication.js"></script>
</head>


<body>

<div id="vue-root">   <!-- Container for VUE COMPONENTS : the ROOT of the components below -->

{# HORIZONTAL STATUS BAR (fixed at the top) #}
{% include "horiz_status_bar.htm" %}

<div class="menu-wrapper">
    {# TOP NAVIGATION BAR #}
    {% include "navbar_top.htm" %}
</div>

<a href='/BA/pages/admin'>Admin</a> &raquo; Schema Manager

<h2 class="page-title">Schema Manager</h2>


<br>

<div class="content-block">
    <div class="content-block-title">New Schema</div>

    <vue-schema-creator
        v-bind:class_list="class_list">
    </vue-schema-creator>

</div>


<br><br>

<div class="content-block">
    <div class="content-block-title">Edit Schema</div>

    <vue-schema-editor
            v-bind:class_list="class_list">
    </vue-schema-editor>

</div>


<br><br>

<div class="content-block">
    <div class="content-block-title">Schema Export</div>
    <p style="padding:25px">
        <a href="/BA/api/download_dbase_json/schema">EXPORT the full Database Schema as a JSON file</a>
    </p>
</div>


<br><br>

<div class="content-block">
    <div class="content-block-title">Schema Visualization</div>
    <p style="padding:15px">
        To visualize the entire Schema, use the following Cypher query in the Neo4j browser:<br><br>
        <b>MATCH (c :CLASS), (p :PROPERTY) RETURN c, p</b>
    </p>
</div>


</div>	<!--  ~~~~~~~~~~~~~~~~~~~~~  END of Vue root element  ~~~~~~~~~~~~~~~~~~~~~  -->



<!--
    Vue components (and other JS).  This must appear AFTER the Vue-containing elements
  -->
<script src="/BA/pages/static/vue_components/schema_creator/schema_creator.js"></script>
<script src="/BA/pages/static/vue_components/schema_editor/schema_editor.js"></script>


<script>
// Instantiation of the ROOT component must come after the definition of the descendant components
new Vue({
    el: '#vue-root',

    delimiters: ['[[', ']]'] ,  // Changing delimiters: requesting double SQUARE brackets, to avoid interfering with Flask

    data: {     // GLOBAL DATA for the whole page (Vue root element).

       // Handover of data from Flask to Vue
       class_list: {{class_list | tojson}}     // List of all the names of the Classes in the Schema

    }, // DATA



    // ---------------------  HOOKS  ----------------------

    mounted() {
    },



    // ---------------------  COMPUTED  ----------------------

    computed: {

        computed_var()
        {
        }

    }, // COMPUTED



    // ----------------------------  METHODS  -----------------------------

    methods:  {

        some_method()
        {
        }

    } // METHODS

});
</script>


</body>
</html>