/*
 BODY
 */

body {		/* General website styling */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background:#f5f2f0;     /* Best if it matches that of the DIV "sidebar-left" */
	font-size:10px;
	padding: 0px;
	margin: 0px;
}




/* Place in fixed position as the 2nd from the bottom right of screen */
img.fixed-2nd-from-bottom {
    position:fixed;
    bottom: 4.5rem;
    right:.5rem;
}


/* Place in fixed position at bottom right of screen */
#to_top {
    position:fixed;
    bottom:.5rem;
    right:.5rem;
}


/* Make the element (for example, an image or a TD) clickable,
   with the same cursor as for links */
.clickable-icon {
    cursor: pointer;
}



/*
  The "scroll-canvas" is the main part of the page,
  incl. the navbar at the top,
  but EXCLUSIVE of the fixed left sidebar
 */

div.scroll-canvas {
    margin-top:20px;	        /* Leave space at the top for the fixed status bar, plus a small extra (+1) */
	margin-left:15%;
	width:85%;
}

/* A wider version of the "scroll-canvas",
   for use when the left sidebar is collapsed */
div.scroll-canvas--collapsed-left {
    margin-top:20px;	        /* Leave space at the top for the fixed status bar, plus a small extra (+1) */
	margin-left:3%  !important;
	width:97%  !important;
}



/*
 *
 *	BOXES (General containers)
 *
 */



/*
    Lightbox  (the main part of the page)
 */

div.lightbox {					/* Alt name: light-canvas */
	margin-left:0;
	width: 85%;                /* 85% if a right-sidebox is used, or 100% otherwise  */
	box-sizing: border-box;

	background-color:#EEEEEE; 	/* very light gray */

	border:1px #0084AD solid;   /* Teal */

	padding-left:5px;
}


div.lightbox-expand-right {
	margin-left:0;

	box-sizing: border-box;

	border-bottom:3px;
	background-color:#EEEEEE; 	/* very light gray */
	/* border-bottom:#0084AD solid; */

	border:1px #0084AD solid;
	padding-left:5px;
	width: 97%  !important;
}




/*
 *
 * 	STYLES FOR HEADERS
 *
 */


div.page-header {			/* For main page header, with search box (just below navigation bar) */
	font-family: verdana;
	font-size:28px;
	font-weight: bold;
	padding-left:5px;
	background-color:black;
	color: #DDDDDD;
	border-left:#0084AD 2px solid;
	border-right:#0084AD 2px solid;
	margin-bottom:5px;
	line-height:55px;
	margin-left:0;
	margin-right:5px;
	margin-top:5px;
}


p.headline {            /* For the repeated page header */
    font-size:24px;
    font-weight:bold;
    color:brown;
    margin-top:25px;
    margin-bottom:25px;
}


/*
    Subsections
 */
div.subsections {
    padding-left:10px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    margin-right:5px;
    background-color:#D8D8D8;
}

span.subsections-label {
    font-weight:bold;
    font-size:14px;
    color:brown;
}

span.subsection-link {
    size:9px;
    color:#555;
}



/* Hyperlink styles for the "page-toc" DIV */

div.page-toc  a:link  {
	color:#222;					/* Dark gray */
	text-decoration:none;
}

div.page-toc  a:visited  {
	color:#222;
	text-decoration:none;
}

div.page-toc  a:hover {
	color:red;
	text-decoration:none;
}

div.page-toc  a:active {
	color:red;
	text-decoration:none;
}



/*
 *
 *  HYPERLINKS
 *
 */


/* The general hyperlink styles are usable against light backgrounds */

a:link  {
	color:blue;
	text-decoration:none;
}

a:visited  {
	color:blue;
	text-decoration:none;
}

a:hover {
	color:red;
	text-decoration:underline;
}

a:active {
	color:red;
	text-decoration:underline;
}




/* Version for the sidebar-left */

div.sidebar-left  a:link  {
	color:#222;					/* Dark gray */
	text-decoration:none;
}

div.sidebar-left  a:visited  {
	color:#222;
	text-decoration:none;
}

div.sidebar-left  a:hover {
	color:red;
	text-decoration:none;
}

div.sidebar-left  a:active {
	color:red;
	text-decoration:none;
}




/*
    For Content Items
 */


/* Wrapper around Content Items */
div.content-item {
}

button.record-picker {
    background-color: white;
    margin-right: 10px;
}


/*
    Self-contained link classes
 */


a.external-link:after {	/* It shows a Google-style external-image icon after the link */
	content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG9JREFUeNpi/P//PwO1AeOooUPYUEZGRlzqURQD9WJXCDIUHUM1I2NkkAATx6YXrB+PodgAzMAEahmKbCADNQxFNxBn0BFrqAI2Ayk1FGYwRirAZSiuJAUSZMSTFP/jS+N0N5Ts3DhaoAwRQwECDADz2Rla0lLdgwAAAABJRU5ErkJggg==);
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:
	middle;
	width:20px
}


a.collapsible_controller  {		/* Used for links on arrows for collapsible sections */
	cursor:pointer;				/* Otherwise, the typical link cursor won't show (since no "href" attribute is provided) */
}