/*  Side box.  Container for Category info box and selector,
    shown to the right of the "scroll-canvas"
    -- which is used as its parent,
    and as a coordinate frame of reference
 */


div.sidebox {					/* RIGHT Sidebox (for viewer pages), displaying the page Categories, in its expanded state */
	float:right;
	width:15%;
	box-sizing: border-box;

	background-color:#EEEEFF;
	border:1px #0084AD solid;
	padding:2px;
	padding-top:5px;
}

div.sidebox-collapsed {			/* Sidebox in its collapsed state */
	position:fixed;             /* TODO - Maybe position:absolute instead? */
	top:80px;
	right:0;

	width:17px;
	box-sizing: border-box;

    height:110px;
    border:1px #0084AD solid;
	background-color:#EEEEFF;
}


div.sidebox  span.sidebox-section {
    color:#EEE;
    background-color:#444;
    padding-left:3px;
    padding-right:3px;
    font-weight:bold;
}

div.sidebox  span.category-relatives {
    color:#80A0A0;
    font-size:8px;
    font-style:italic;
}



/* For the Current Category in the listing of categories */
div.sidebox  span.current-category {
    color:brown;
    font-weight:bold;
}

/* For the letters of the alphabets used to set the filter */
div.sidebox  a.alphabet-letters  {
    margin-right: 3px;
}


/*
    For the Category listing at the bottom
 */
div.sidebox  ul  {
    margin: 0;
    padding-left: 4px;
}

div.sidebox  li  {
    list-style-type: "\2666";   /* Filled diamond */
    margin-top: 1px;
    padding-left: 3px;
}



/*
    Links for sidebox
 */

div.sidebox  a:link  {
	color:#222;					/* Dark gray */
	text-decoration:none;
}
div.sidebox span.sidebox-section a:link  {
	color:#EEE;
}

div.sidebox  a:visited  {
	color:#222;
	text-decoration:none;
}
div.sidebox span.sidebox-section a:visited  {
	color:#EEE;
}

div.sidebox  a:hover {
	color:red;
	text-decoration:none;
}

div.sidebox  a:active {
	color:red;
	text-decoration:none;
}


/* Place in fixed position near the top/right of screen
 */
img.fixed-collapse-icon {
    position:fixed;
    top: 3.0rem;
    right:.15rem;
}


img.fixed-expand-icon {
    position:fixed;
    top: 7.5rem;
    right:.15rem;
}