/*
 *  NAVIGATION MENU STYLES TOP-OF-PAGE NAVBAR (navigation menu)
 *
 */





div.navmenu  {					/* The navmenu outer div */
    margin-top:20px;	        /* Leave space at the top for nav bar */
    width:100%;
	border: 1px solid #0084AD;	/* Mid-tone blue */
	margin-bottom:0px;
	background-color:#547698;	/* A shade of blue.  For brighter blue: #336699 .  Also tried: #446688 */
}

div.navmenu table {
	width:100%;
	padding:0;
	margin:0;
	border-collapse:collapse;
}


/* Primary navbar rows */

tr.major-line  td.unselected {
	font-size:12px;
}

tr.major-line  td.selected {
	font-size:18px;
}


/* Secondary navbar rows */

tr.minor-line  td.unselected {
	font-size:10px;
}

tr.minor-line  td.selected {
	font-size:11px;
}


/* Navbar cells */

div.navmenu td {
	color : white;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0;
}

div.navmenu td.unselected {
	border-left: 1px solid #888888;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

div.navmenu td.selected {
	background-color:#990000;		/* Dark red */
	border:1px solid white;
}


div.navmenu  td.unselected a {
    display: block;			/* To allow clicking anywhere within the td element (not just on the text) */
	line-height:20px;
}


div.navmenu td.unselected:hover  {
	border:1px solid red;
	background-color: #990000;
}




/*
 *
 *  HYPERLINKS
 *
 */


/* For links in navmenu : zap the underscores.  Override any other setting (e.g. those inherited) */

.navmenu  a:link  {
	text-decoration: none !important;
}

.navmenu  a:visited  {
	text-decoration: none !important;
}

.navmenu  a:hover {
	text-decoration: none !important;
	color:#FF5151 !important;				/* Light red */
}

.navmenu  a:active {
	text-decoration: none !important;
}



/*  Links on dark backgrounds are forced to be appropriate for them (i.e. light colors)
	The "dark-background" class is only used to affect links.
 */

.dark-background  a:link  {
	color : #eeeeee !important;
}

.dark-background  a:visited  {
	color : #eeeeee !important;
}

.dark-background  a:hover{
	color:red !important;
}

.dark-background  a:active {
	color:red !important;
}