<!DOCTYPE html>
{#  Flask-passed parameters: current_page, site_pages,
                             biomarker, my_list,
                             template_page
 #}

<html lang="en">
<head>
    <title>Test page</title>

    <link type="text/css" rel="stylesheet" href="/BA/pages/static/css/brain_annex.css">

    <link type="text/css" rel="stylesheet" href="/navigation/static/horiz_status_bar.css">
    <link type="text/css" rel="stylesheet" href="/navigation/static/navbar_top.css">

    <link type="text/css" rel="stylesheet" href="/sample/pages/static/flask_testing.css">
</head>
<body>


{# HORIZONTAL STATUS BAR (fixed at the top) #}
{% include "horiz_status_bar.htm" %}

<div class="menu-wrapper">
    {# TOP NAVIGATION BAR #}
    {% include "navbar_top.htm" %}
</div>


<h1 class="flamboyant">Page for Flask-based testing : modify at will!</h1>

<br>
The template from which this webpage is generated, is in the file: `<b>{{template_page}}</b>`

<br><br>
<i>For a minimalist Flask example, please see
<a href="http://localhost:5000/sample/pages/minimalist-flask" target="_blank">http://localhost:5000/sample/pages/minimalist-flask</a></i>
<br><br>
<i>For a bare-bones Flask page, please see
<a href="http://localhost:5000/sample/pages/sample-page" target="_blank">http://localhost:5000/sample/pages/sample-page</a></i>

<br><br>


<div class="content-block">
<h3>EXAMPLE 1 </h3>
<p class="elegant">The biomarker passed to this template was: <span class="highlight">{{biomarker}}</span></p>
</div>


<br>


<div class="content-block">
<h3>EXAMPLE 2 </h3>
Passed value of Flask parameter my_list : {{my_list}}

<h2>List of passed items:</h2>

{# Now loop over the element of the list, and show them one by one (as an HTML listing) #}
<ul>
{% for item in my_list %}
    <li><b>{{item}}</b>
{% endfor %}
</ul>

</div>


<br>
<b>TEST AREA:</b><br>
{#  *************************  PUT YOUR CODE BELOW  ************************* #}
<i>Your other page elements will go here</i>

<br>
</body>
</html>