/* Used for the record navigator (for now, part of filter.htm)
 */


/* Box around all records */
div.records-outerbox {
    border:1px solid #DDD;
    padding:10px;
    background-color: #f4f4f4;
}


/* Box around each individual record */
p.record {
    border: 1px solid #CCC;
    padding-bottom: 5px;
    padding-left: 3px;
    margin-bottom:2px;
    margin-top:3px;

}

p.record-active {
    background-color: white;
}

p.record-inactive {
    background-color: yellow;
}



/* For a box to pre-pend to record headers */
span.subrecord-in {
    background-color: #bbe175;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

span.subrecord-out {
    background-color: #fdbeb8;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}


/* Little rounded boxes for labels */
span.node-label {
    display: inline-block;
    margin-right: 5px;
    padding: 3px 8px;
    border-radius: 6px;
    color: white;
    background-color: #444444;
}


/* For little rounded boxes that show a link (either IN or OUT) */
span.relationship-in {
    display: inline-block;
    margin-right: 5px;
    padding: 3px 8px;
    color: #333;
    background-color: #bbe175;
}

span.relationship-out {
    display: inline-block;
    margin-right: 5px;
    padding: 3px 8px;
    color: #333;
    background-color: #fdbeb8;
}