/* For testing/experimenting ; modify at will! */

/* Self-contained section of data */
div.content-block {
	margin-left:100px;
	margin-right:100px;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background-color:#FAFAFA;
	padding: 10px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
}

h1.flamboyant {
    color: brown;
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    line-height: 80px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    text-shadow: 0 3px 3px #333;
}

p.elegant {
    font-style: italic;
    color: #B6B6B6;
    font-size: 24px;
    font-family: "Libre Baskerville", serif;
    line-height: 45px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;

    padding-top: 10px;
    margin-top: 10px;
}

span.highlight {
    color: #ddd;
    background-color: #555;
}