/* Common CSS used by various site pages
 */


div.menu-wrapper {
    margin-top:20px;    /* Leave space at the top for the fixed status bar, plus a small extra (+1) */
}


/* Status messages for user operations */

span.status-message {           /* A subdued status info message */
    color: #a0a0a0;
    font-size:9px;
}

span.status-message-success {   /* A prominent success message */
    color: green;
    font-size:10px;
    font-weight:bold;
}

span.error-message {
    color: red;
    font-weight:bold;
}

span.waiting {
    color: #41baae;
    font-style: italic;
    font-weight: bold;
}




/* Misc. SPAN styling */

span.star-yellow {          /* Used to display star ratings */
    color: #a6a606;
}


span.monospace {
    font-family: "Courier New", "Lucida Console", monospace;
}


span.form-comment {
    color: #a6a6a6;
}



/*
    Form box
 */

div.form-box {
    border:1px solid #CCC;
    margin-top:10px;
    margin-right:5px;
    padding:10px;
    background-color:white;
}

div.form-box span.title {
    font-weight:bold;
    color:brown;
    font-size:12px
}

div.form-box button {
    background: brown;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin-right:15px;
}

div.form-box input {
    border: 1px solid #DDD;
    padding-left:5px;
}



/* Make the element (for example, an image, a SPAN or a TD, etc) clickable,
   with the same cursor as for links */
.clickable-icon {
    cursor: pointer;
}



/*
 *
 *  HYPERLINKS
 *
 */



/* The general hyperlink styles are usable against light backgrounds */

a:link  {
	color:blue;
	text-decoration:none;
}

a:visited  {
	color:blue;
	text-decoration:none;
}

a:hover {
	color:red;
	text-decoration:underline;
}

a:active {
	color:red;
	text-decoration:underline;
}


/*  Links on dark backgrounds are forced to be appropriate for them (i.e. light colors)
	The "dark-background" class is only used to affect links.
 */

.dark-background  a:link  {
	color : #eeeeee !important;
}

.dark-background  a:visited  {
	color : #eeeeee !important;
}

.dark-background  a:hover {
	color:red !important;
}

.dark-background  a:active {
	color:red !important;
}

